.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: .5rem;

    background-color: hsl(0 0% 0% / 0.75);
    /*height: 4rem;*/

    border-radius: 25px;
}

.faction {
    filter: grayscale(100%);
}

.faction:hover {
    filter: grayscale(0);
}

.selectedFaction {
    filter: grayscale(0);
}