.container {
    width: 40rem;
    background-color: hsl(0 0% 0% / 0.7);
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;
}

.tree {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 20px;
}

.stigmaSLot1 { grid-area: 1 / 1 / 2 / 2; }
.stigmaSLot2 { grid-area: 2 / 1 / 3 / 2; }
.stigmaSLot3 { grid-area: 3 / 1 / 4 / 2; }
.stigmaSLot4 { grid-area: 1 / 2 / 3 / 3; }
.stigmaSLot5 { grid-area: 3 / 2 / 4 / 3; }
.stigmaSLot6 { grid-area: 4 / 2 / 6 / 3; }
.stigmaSLot7 { grid-area: 6 / 2 / 7 / 3; }
.stigmaSLot8 { grid-area: 1 / 3 / 4 / 4; }
.stigmaSLot9 { grid-area: 4 / 3 / 7 / 4; }
.stigmaSLot10 { grid-area: 1 / 4 / 7 / 5; }

.stigmaSlot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stigma {
    height: 40px;
    width: 40px;

    position: relative;
}

.arrowIn {
    position: absolute;
    top: 50%;
    left: -30px;

    margin-top: -10px;

    background: url("/Aion-classic-stigma-calculator/images/arrow.png");
    background-position: -24px 0px;
    width: 29px;
    height: 17px;
}

.arrowTop {
    position: absolute;
    width: 22px;
    height: 13px;
    top: 15px;
    right: -25px;

    background: url("/Aion-classic-stigma-calculator/images/arrow.png");
}

.arrowSide {
    position: absolute;

    height: 105%;
    width: 11px;

    top: calc(50% + 8px);

    bottom: 0px;
    right: -25px;

    background: url("/Aion-classic-stigma-calculator/images/arrow.png");
    background-position: -64px 0px;
}

.arrowBottom {
    position: absolute;
    width: 22px;
    height: 13px;

    top: 10px;
    right: -25px;

    background: url("/Aion-classic-stigma-calculator/images/arrow.png");
    background-position: 0px -15px;
}

.singleArrow {
    position: absolute;
    width: 40px;
    height: 19px;

    top: 10px;
    right: -45px;

    background: url("/Aion-classic-stigma-calculator/images/arrow.png");
    background-position: -24px -19px;
}

.stigmaSLot4::after,
.stigmaSLot6::after {
    content: " ";

    position: absolute;

    height: 80%;
    width: 11px;

    top: calc(50% + 8px);

    bottom: 0px;
    right: -25px;


    background: url("/Aion-classic-stigma-calculator/images/arrow.png");
    background-position: -64px 0px;
}