.panel {
    display: flex;
    gap: 2rem;
    width: 40rem;
    height: 28rem;

    background-color: hsl(0 0% 0% / 0.7);
    border-radius: 25px;
}

.stigmaPanel {
    position: relative;
    width: 19rem;
}


.stigmaContainer {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 10px;

    padding: 1rem;

    position: absolute;
}

.stigmaSlot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.defaultStigmaSlot{
    background-image: url('/Aion-classic-stigma-calculator/images/stigma_slots/default stigma slot.png');
}

.disabledDefaultStigmaSlot{
    background-image: url('/Aion-classic-stigma-calculator/images/stigma_slots/disabled default stigma slot.png');
}

.activeDefaultStigmaSlot{
    background-image: url('/Aion-classic-stigma-calculator/images/stigma_slots/active default stigma slot.png');
}

.advancedStigma{
    background-position: center;
    background-repeat: no-repeat;
}

.advStigma {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advStigma:nth-child(3) {
    grid-column: 1 / 3;
}

.advancedStigma:nth-child(3) {
    grid-column: 1 / 3;
}

.advancedStigmaSlot{
    background-image: url('/Aion-classic-stigma-calculator/images/stigma_slots/advanced stigma slot.png');
}

.disabledAdvancedStigmaSlot{
    background-image: url('/Aion-classic-stigma-calculator/images/stigma_slots/disabled advanced stigma slot.png');
}

.activeAdvancedStigmaSlot{
    background-image: url('/Aion-classic-stigma-calculator/images/stigma_slots/active advanced stigma slot.png');
}